
$primary-background-color: #fff;
$secondary-background-color: #2A3F54;

$primary-color: #333;
$secondary-color: #fff;

$theme-color: #333;

// Naming unique colors http://chir.ag/projects/name-that-color
// $carnation-color: #F26363;
$affair-color: #64468C;
// $EDA240

$default-font-size:            15px;
$default-font-size-xs:         15px;

$small-font-size:        14px;
$small-font-size-xs:     14px;

$tiny-font-size:        12px;
$tiny-font-size-xs:     12px;

$h1-font-size:              70px;
$h1-font-size-xs:           35px;
$h2-font-size:              35px;
$h2-font-size-xs:           28px;
$h3-font-size:              28px;
$h3-font-size-xs:           25px;
$h4-font-size:              25px;
$h4-font-size-xs:           22px;
$h5-font-size:              22px;
$h5-font-size-xs:           18px;
$h6-font-size:              11px;
$h6-font-size-xs:           11px;

$heading-top:            40px;
$heading-top-xs:            30px;

$heading-bottom:            20px;
$heading-bottom-xs:            10px;

$component-container-margin:  60px;
$component-container-margin-xs:  30px;

$background-container-padding:  60px 0px;
$background-container-padding-xs:  30px 0px;

$defaut-component-width:      87%;
$defaut-component-width-xs:      87%;

$defaut-component-small-width:      50%;
$defaut-component-small-width-xs:      87%;
