//- mixin menu(args)
//-   - args = args || {};
//-   include ../molecules/menu

//- mixin videoPlayer(args)
//-   - args = args || {};
//-   include ../molecules/video-player

//- mixin socialShare(args)
//-   - args = args || {};
//-   include ../molecules/social-share

//- mixin loadingIndicator(args)
//-   - args = args || {};
//-   include ../molecules/loading-indicator